/* start of nabar */
.container{
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: #EDF1FF;
     /* make it sticky navbar */
    
    width: 70;
    margin: 7px;
    padding: 7px;
    border-radius: 4px;
     /* make it sticky navbar */
    
    

    
    
    

}
.shopping{
    height: 50px;
    width: 70px;
    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   
   
  
  }


   
  
  
  
.navbar li {
    float: left;
    /* Add a gray right border to all list items, except the last item (last-child) */
    border-right: 1px solid #bbb;
  }

  .navbar li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:smaller;
  }

  /* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #db3838;
  }

  .active {
    background-color: #04AA6D;
  }

/* using google fonts */
.navbar{
    font-family: "Audiowide", sans-serif;

}

/* end of navbar */

/* footer starts here
 */


 .footer_text {
    text-align: center;
    background-color: rgb(59, 51, 51);
    color: white;
    padding: 32px;
}
.footer_text_color {
    color: rgba(214, 77, 53, 0.76);
}
/* end of footer */



/*  start Contact us form */

.contactinformation_form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d89a9a;
    border-radius: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input{
    margin-bottom: 9px;
    padding: 7px;
    border: 3px solid #222121;
    border-radius: 12px;

}
textarea {
    margin-bottom: 18px;
    padding: 19px;
    border: 5px solid #383535;
    border-radius: 18px;
}

button {
    cursor: pointer;
    background-color: #b90505;
    color: rgb(251, 248, 248);
    padding: 9px;
    border: none;
    border-radius: 16px;
    
}
.display {
    max-width: 500px;
    margin: 25px auto;
    padding: 26px;
    background-color: #d3cece;
    border-radius: 13px;
}









